src/main/mule/ActiveMQ.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d455434a-f461-41dd-af0f-c56340901d9e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ibm-mq:config name="IBM_MQ_Config" doc:name="IBM MQ Config" doc:id="daaab9a9-0265-42fe-98ea-c8aed59828a4" >
		<ibm-mq:connection username="app" password="12345">
			<ibm-mq:connection-mode >
				<ibm-mq:client host="127.0.0.1" queueManager="QM1" channel="CHANNEL1" />
			</ibm-mq:connection-mode>
		</ibm-mq:connection>
	</ibm-mq:config>
	
	<jms:config name="JMS_Config_Queue" doc:name="JMS Config" doc:id="c6d3983f-1a3f-4dc8-8b9f-4442b90192f8" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://127.0.0.1:61616" />
		</jms:active-mq-connection>
		<jms:producer-config jmsType="TOPIC" />
	</jms:config>	
	
	<file:config name="File_Config" doc:name="File Config" doc:id="2639b6c9-cc1c-4d48-8b45-5697a509f8dc" >
		<file:connection workingDir="C:\Users\52715\Desktop" />
	</file:config>
	
	<flow name="IBM-MQ-Publish-Flow" doc:id="6e438d71-5d0b-45f5-b564-6a5abda884a1" initialState="started">
		<http:listener doc:name="Listener" doc:id="423f48d6-47a5-4063-a6e0-c3e1e94c5a0a" config-ref="HTTP_Listener_config" path="/entrada"/>
		<file:read doc:name="File" doc:id="dc7f8d4d-5e25-4301-a68f-280486971180" config-ref="File_Config" path="C:\Users\52715\Desktop\FileJSON\JSON.json" />
		<ibm-mq:publish doc:name="Publish" doc:id="3144e016-1f64-4129-ba40-ea8fe9f6f45f" config-ref="IBM_MQ_Config" destination="QUEUE1"/>
		<logger level="INFO" doc:name="L1" doc:id="029a657d-8471-4816-864d-43dd2f848c9b" message="#[payload]"/>
	
</flow>
	<flow name="IBM-MQ-Consume-Flow" doc:id="936ffb4b-274b-47e6-8489-91cd134d24ff" >
		<ibm-mq:listener doc:name="On New Message" doc:id="87da626f-ae3c-4627-a884-40a815c0ae31" config-ref="IBM_MQ_Config" destination="QUEUE1">
			<ibm-mq:consumer-type >
				<ibm-mq:queue-consumer />
			</ibm-mq:consumer-type>
		</ibm-mq:listener>
		<logger level="INFO" doc:name="L2" doc:id="79563638-24c6-43b0-abc6-5c9ac52d8cf8" message="#[payload]" />
		<flow-ref doc:name="To ActiveMQ" doc:id="efa627a3-2630-4454-99cd-66673c074a3e" name="Active-MQ-Publish-Sub_Flow" />
	</flow>
	
	<sub-flow name="Active-MQ-Publish-Sub_Flow" doc:id="c53a0bce-030a-4f36-be99-649cf34e5ce1" >
		<logger level="INFO" doc:name="L3" doc:id="856fbc67-90fb-4fef-9557-ac3407d04ad8" message="#[payload]" />
		<jms:publish-consume doc:name="JMS" doc:id="f476ebab-9284-4f96-bc0f-5f77953b54b2" config-ref="JMS_Config_Queue" destination="queueActiveMQ" />
	</sub-flow>
	<flow name="Active-MQ-Listener-Flow" doc:id="0619967c-46e5-4d7c-8998-781cee2b582c" >
		<jms:listener doc:name="JMS" doc:id="2bd30de0-28ea-4416-9f10-f2c0fa3cb384" config-ref="JMS_Config_Queue" destination="queueActiveMQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="L4" doc:id="b2ddad54-ab4e-47d6-9709-3343913f92b4" message='#[payload]' />
	</flow>
</mule>
